# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.pyc

# Model folder (ignore BGE-M3 completely)
model/
*.bin
*.pt
*.safetensors

# HuggingFace caches
.cache/
.hf_cache/

# OS junk
Thumbs.db
.DS_Store

# Qdrant databases
qdrant_db/
hierarchical_retrieval/qdrant_db_hierarchical/

# Large data files
hierarchical_retrieval/Moshrif-knowledge-chunks.json

